<script th:src="@{/assets/js/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/js/axios.min.js}"></script>
<script th:src="@{/assets/js/momentjs/moment.min.js}"></script>
<script th:src="@{/assets/js/momentjs/moment-timezone-with-data.js}"></script>
<script th:src="@{/assets/js/jquery/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery/jquery.twbsPagination.min.js}"></script>
<script th:src="@{/assets/js/flex/flex.core.min.js}"></script>
<script th:src="@{/assets/js/common/common.ui.js}"></script>
<script th:src="@{/assets/js/common/common.date.js}"></script>
<script th:src="@{/assets/js/common/common.request.js}"></script>
<script th:src="@{/assets/js/common/common.static.js}"></script>
<script th:src="@{/assets/js/loading/nprogress.min.js}"></script>
<script th:src="@{/assets/js/toast/toastr.min.js}" type="text/javascript"></script>